.vi-switch-control {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 20px;
  width: 80px;
  padding-block: 10px;
}
.vi-switch-control input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
 
}

.vi-switch-control.vi-switch-control-primary input:checked ~ .vi-control {
  background-color: var(--foreground-primary);
}
.vi-switch-control.vi-switch-control-secondary input:checked ~ .vi-control {
  background-color: var(--foreground-secondary);
}

.vi-switch-control input:checked ~ .vi-control:after {
  left: 45px;
}
.vi-switch-control .vi-control {
  position: absolute;
  height: 23px;
  width: 60px;
  border-radius: 20px;
  transform: translateX(15px);
  background-color: darkgray;
  transition: background-color 1s cubic-bezier(0, 0.75, 0.27, 1);
}
.vi-switch-control .vi-control:after {
  content: "";
  position: absolute;
  left: 0px;
  top: 7px;
  width: 40px;
  height: 30px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.285);
  border-radius: 20px;
  background: rgb(255, 255, 255);
  transform: translate(-15px, -10px);

  transition: left 2s cubic-bezier(0, 0.75, 0.27, 1);
}
.vi-button-dash{
  border: 2px dashed black;
}